<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is about us</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis sint, nisi inventore aliquam rem incidunt totam excepturi quod mollitia ad enim, debitis porro eos quo deserunt dolor cumque culpa voluptatem!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, totam ea? Consequatur delectus maiores totam asperiores expedita, neque sequi commodi impedit alias doloremque saepe distinctio. Atque reprehenderit expedita saepe error?</p>    
    
</body>
</html>