<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is the first EJS file</h1>
    <ul>
        <li><a href="/views/index.ejs">Home</a></li>
        <li><a href="/views/about.ejs">About</a></li>
    </ul>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa molestiae nobis, commodi id a eaque adipisci numquam illum mollitia perferendis officiis nemo facere aliquam itaque sapiente veritatis minima, quo explicabo? changes here</p>

</body>
</html>